* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-family: "Avenir", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}
main {
  padding: 1rem;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Top Navigation Bar */
.topNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
  padding: 1rem;
}

.topNav ul {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: nowrap;
}

.topNav ul li {
  margin: 0 3vw;
}

.topNav ul li a:hover {
  font-weight: 900;
}

/* breadcrumbs */
.breadcrumbs {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / -1;
}
.breadcrumbs li::after {
  display: inline-block;
  margin: 0 1rem;
  content: ">";
}
.breadcrumbs li:last-child::after {
  content: "";
}
.breadcrumbs li a:hover {
  font-weight: 900;
}
/* Footer Styling */
footer {
  padding: 1rem;
  background-color: pink;
  margin-top: 1rem;
}

.footerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footerNav ul {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.product main {
  display: grid;
  grid-template-columns: 1fr;
}
/* PRODUCT PAGE */

/* Purchase Box Section */
.purchaseBox {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.purchaseBox form {
  margin: 1rem 0;
}

.purchaseBox form label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

.purchaseBox form label select {
  padding: 1rem 1rem;
  margin-left: 2rem;
  border: solid black 3px;
  background-color: pink;
  border-radius: 15px;
  font-weight: 900;
}

.purchaseBox form button {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  background-color: pink;
  border: 3px solid black;
  border-radius: 10px;
  font-weight: 900;
}
/* not sure if going to add effect or colour change */
/* .purchaseBox form button:hover {
  background-color: red;
} */

/* Product Information */
dl dt {
  margin: 0.4rem 0;
  font-weight: bold;
}
dl dd {
  margin: 0;
  padding: 0 0 0.4rem 1rem;
}

/* Brand Information */
.brandInfo {
  border-top: lightgrey 2px solid;
}
.brandInfo h1 {
  font-size: xx-large;
}

.brandInfo p {
  padding-left: 1rem;
}

/* DESKTOP */
@media screen and (min-width: 1000px) {
  .product main {
    grid-template-columns: 1fr 1fr;
  }
  .product img {
    grid-column: 1;
  }
  .purchaseBox {
    grid-column: span 1;
  }
  .productInfo {
    grid-column: span 1;
    grid-template-columns: 1fr 1fr;
  }
}

/* PRODUCT LIST */
.productlist main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4rem;
}

.productList article {
  display: flex;
  flex-direction: column;
  /* position: relative;
  overflow: hidden; */
}

.productCard h3 {
  margin-top: 0.4rem;
}

.productCard p {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.productCard a {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  background-color: pink;
  border: solid 3px black;
  border-radius: 10px;
}
/* not sure if going to add effect or colour change 
.productCard a:hover {
  background-color: black;
  color:white;}
*/
/* COPIED */
.discounted {
  display: none;
  visibility: hidden;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.discounted p {
  width: fit-content;
  display: block;
  margin-bottom: 0;
}
.onSale .discounted ~ p {
  color: red;
  text-decoration: solid line-through 2px rgba(228, 6, 54, 1);
}

.onSale .discounted {
  visibility: visible;
  display: flex;
}

.saleLabel {
  display: none;
  visibility: hidden;
}

.onSale .saleLabel {
  background-color: red;
  display: block;
  visibility: visible;
  position: absolute;
  padding: 0.3rem 1rem;
}
*/ .productList article.soldOut:after {
  position: absolute;
  top: 1rem;
  left: 1rem;
  content: "SOLD OUT";
  background: var(--main-color);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  color: var(--bg-color);
}

.soldOut img {
  opacity: 0.5;
  filter: saturate(0);
}

/* BRAND CATEGORY */
/*  category  */
/*Category*/
.letterNav ol {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: xx-large;
}

.brands li {
  padding: 0.7rem;
  margin: 0rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.brands h2 {
  font-size: 2rem;
  margin-top: 1rem;
}

.brands li:hover {
  background-color: pink;
  opacity: 0.7;
}

@media screen and (min-width: 726px) {
  .brands ol {
    column-count: 2;
  }
}
